//! Light Theme All Color
$Light_Theme_Primary: #fff;
$Light_Theme_secondary: #695cfe;
$Light_Theme_text-color: #707070;
$Light_Theme_sidebar-color: #fff;
$Light_Theme_background-color: #e4e9f7;

//! Dark Theme All Color
$Dark_Theme_primary: #fff;
$Dark_Theme_secondary: #3a3b3c;
$Dark_Theme_text-color: #ccc;
$Dark_Theme_sidebar-color: #242526;
$Dark_Theme_background-color: #18191a;
